@font-face {
  font-family: "Poppins-ExtraLight";
  src: url(../../fonts/Poppins-ExtraLight.ttf) format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: "Poppins-Regular";
  src: url(../../fonts/Poppins-Regular.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins-SemiBold";
  src: url(../../fonts/Poppins-SemiBold.ttf) format("truetype");
  font-weight: 600;
}
body {
  font-size: 15px;
  line-height: 2;
  font-family: "Poppins-Regular", sans-serif;
  color: hsl(234, 12%, 34%);
}

.title {
  line-height: normal;
}

.title,
a {
  text-align: center;
}

h1,
h2 {
  font-size: clamp(1.563rem, 10vw - 1rem, 2.25rem);
}

h1 {
  font-weight: 200;
  font-family: "Poppins-ExtraLight", sans-serif;
}

h2 {
  font-family: "Poppins-SemiBold", sans-serif;
}

p {
  color: hsl(229, 6%, 66%);
}

a {
  text-decoration: none;
}

.cards__card h3 {
  font-size: 1.2rem;
}
.cards__card p {
  font-size: 0.84rem;
  color: hsl(229, 6%, 66%);
}

.attribution {
  font-size: 0.7333rem;
}
.attribution a {
  color: hsl(212, 86%, 64%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  background-color: hsl(0, 0%, 98%);
}

main {
  width: 100%;
}

.container {
  margin-inline: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.title {
  max-width: 34rem;
}
.title p {
  margin-top: 1rem;
}

.cards {
  gap: 2rem;
  display: grid;
  grid-template-columns: 1fr;
}
.cards__card[data-color=cyan] {
  border-top: 4px solid hsl(180, 62%, 55%);
  padding: 1.5rem;
  max-width: 22rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 4px;
  box-shadow: 0px 10px 20px 4px #d4d4d4;
}
.cards__card[data-color=cyan] img {
  float: right;
  max-width: 55px;
  margin-top: 2.2rem;
}
.cards__card[data-color=red] {
  border-top: 4px solid hsl(0, 78%, 62%);
  padding: 1.5rem;
  max-width: 22rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 4px;
  box-shadow: 0px 10px 20px 4px #d4d4d4;
}
.cards__card[data-color=red] img {
  float: right;
  max-width: 55px;
  margin-top: 2.2rem;
}
.cards__card[data-color=orange] {
  border-top: 4px solid hsl(34, 97%, 64%);
  padding: 1.5rem;
  max-width: 22rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 4px;
  box-shadow: 0px 10px 20px 4px #d4d4d4;
}
.cards__card[data-color=orange] img {
  float: right;
  max-width: 55px;
  margin-top: 2.2rem;
}
.cards__card[data-color=blue] {
  border-top: 4px solid hsl(212, 86%, 64%);
  padding: 1.5rem;
  max-width: 22rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 4px;
  box-shadow: 0px 10px 20px 4px #d4d4d4;
}
.cards__card[data-color=blue] img {
  float: right;
  max-width: 55px;
  margin-top: 2.2rem;
}

@media (min-width: 37.5rem) {
  .cards {
    grid-template-columns: repeat(2, auto);
  }
}
@media (min-width: 75.25rem) {
  .cards {
    place-items: center;
    grid: "cyan red blue" 1fr "cyan orange blue" 1fr/1fr 1fr 1fr;
  }
  .cards__card[data-color=cyan] {
    grid-area: cyan;
    max-width: 20rem;
  }
  .cards__card[data-color=red] {
    grid-area: red;
    max-width: 20rem;
  }
  .cards__card[data-color=orange] {
    grid-area: orange;
    max-width: 20rem;
  }
  .cards__card[data-color=blue] {
    grid-area: blue;
    max-width: 20rem;
  }
}/*# sourceMappingURL=style.css.map */