@use '../abstract/' as a;

body {
  display: grid;
  grid-template-rows: repeat(3, auto);
  place-items: center;
  gap: 5rem;
  min-height: 100dvh;
  background-color: a.$Very-Light-Gray;
}

main{
  width:100%;
}

.container {
  margin-inline: 2rem;
  @include a.flex($gap: 3.5rem);
}

.title {
  max-width: 34rem;
  p {
    margin-top: 1.5rem;
  }
}
